{{ define "main" }}
<article class="post" style="border: 5px solid #CAA72C !important;padding: 15px !important;">
  <div class="external-links">
    {{if .Params.github}} {{ partial "ext-link.html" (dict "link" .Params.github "name" "Github")}} {{end}}
    {{if .Params.itch}} {{ partial "ext-link.html" (dict "link" .Params.itch "name" "Itch.io")}} {{end}}
    {{if .Params.steam}} {{ partial "ext-link.html" (dict "link" .Params.steam "name" "Steam")}} {{end}}
    {{if .Params.youtube}} {{ partial "ext-link.html" (dict "link" .Params.youtube "name" "Youtube")}} {{end}}
    {{if .Params.internal}} {{ partial "ext-link.html" (dict "link" .Params.internal "name" .Params.internal_n)}} {{end}}
  </div>
  <h1 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
  </h1>
  <div class="post-meta">
    {{ if .Date }}
      <time class="post-date">
        {{ .Date.Format "02 Jan, 2006" }} 
        {{ if $.Site.Params.showLastUpdated }}
          [{{or $.Site.Params.updatedDatePrefix "Updated"}} :: {{ .Lastmod.Format "2006-01-02" }}]
        {{ end }}
      </time>
    {{ end }}
    {{ with .Params.Author }}
      <span class="post-author">{{ . }}</span>
    {{ end }}
    {{ if and (.Param "readingTime") (eq (.Param "readingTime") true) }}
      <span class="post-reading-time">:: {{ .ReadingTime }} {{ $.Site.Params.minuteReadingTime | default "min read" }} ({{ .WordCount }} {{ $.Site.Params.words | default "words" }})</span>
    {{ end }}
  </div>

  {{ if .Params.tags }}
    <span class="tags">
      {{ range .Params.tags }}
      #<a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{ . }}</a>&nbsp;
      {{ end }}
    </span>
  {{ end }}


  {{ if (.Params.Toc | default .Site.Params.Toc) }}
    <div class="table-of-contents">
      <h2>
        {{ (.Params.TocTitle | default .Site.Params.TocTitle) | default "Table of Contents" }}
      </h2>
      {{ .TableOfContents }}
    </div>
  {{ end }}

  <div class="post-content">
    {{- with .Content -}}
      <div>
        {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor">&#8983;</a> ${3}` | safeHTML }}
      </div>
    {{- end -}}
  </div>

  {{ if eq .Type $.Site.Params.contentTypeName }}
    {{ partial "posts_pagination.html" . }}
  {{ end }}

  {{ if not (.Params.hideComments | default false) }}
    {{ partial "comments.html" . }}
  {{ end }}
</article>
{{ end }}
