<div class="hero">
    <h1 style="margin-top: 1px">About Me:</h1>
    <p>
        Hello! My name is Yalmaz Abdullah, I usually go by Yarrow online and that is also the name under which I have published my games. I am currently an undergraduate student at the University of Alberta perusing my BSc in Computing Science and serving as an Undergraduate Researcher at the EdTekLA Laboratory. I focus primarily on Gameplay and UI programming but recently I have been dabbling in Shader Programming to make better feeling mechanics.
        <br><br>
        Games have given me a lot. They gave me community and comfort in times I needed it the most. They showed me perspectives I would not have seen otherwise. By making games I hope to help give others some of what games have given to me, and maybe, just maybe make the world a slightly nicer place. I work part time as a teaching assistant and in my spare time I volunteer as the VP External of the Game Development Club where I am responsible for managing external relations and helping new members get started with game development by running workshops and talks.
    </p>
</div>