{{ define "main" }}
  {{ if .Content }}
    <div class="index-content {{ if .Params.framed -}}framed{{- end -}}">
      {{ .Content }}
    </div>
    
  {{ end }}

  {{ partial "hero.html" . }}
  {{ partial "projects" . }}
  <div class="posts">
    {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
    {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "projects" }}

    {{ $PageContext := . }}
    {{ if .IsHome }}
      {{ $PageContext = .Site }}
    {{ end }}
    {{ $paginator := .Paginate (where $PageContext.RegularPages "Type" $contentTypeName) }}
    

    {{ range $paginator.Pages }}
    <article class="post on-list list-item-outline" {{ if .Params.cover}} style="background-image: url({{ .Params.cover}});background-position:{{ .Params.cover_pos}};"{{end}}>
        


      <div class="previewContainer">
        {{ if .Params.video_url}}
          <div class="previewLeft">
            {{/*  {{ partial "cover.html" . }}  */}}            

              <div class="youtube-preview">
                <iframe  height="300px" width="400px" class="youtube-embed"
                src= {{ .Params.video_url}}
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen></iframe>
            </div>
          </div>
        {{ end }}
        <div class="post-content {{if .Params.video_url}}previewRight{{else}}previewRight-alt{{end}}">

          <p class="tools-title">Tools used:</p>
          <p class="tools-content">
            {{- $tools_used := .Params.tools_used -}}
            {{- range $i, $tool := $tools_used -}}
            {{- if $i}},&nbsp {{- end}}{{$tool}}{{- end -}}
          </p>

          <h1 class="post-title" style="margin-top: 10px">
            <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
          </h1>
          {{ if .Params.showFullContent }}
            {{ .Content }}
          {{ else if .Description }}
            {{ .Description | markdownify }}
          {{ else }}
            {{ .Summary }}
          {{ end }}

          {{ if not .Params.showFullContent }}
          {{ end }}
        </div>
        <div class="bot-container">
          <div class="post-tags">
            {{ if .Params.tags }}
              <span class="tags">
                {{ range .Params.tags }}
                #<a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{ . }}</a>&nbsp;
                {{ end }}
              </span>
            {{ end }}
          
          </div>
          <div class="read-more">
            <a class="button" href="{{.RelPermalink}}">{{ $.Site.Params.ReadMore }} Read More →</a>
          </div>
        </div>

        {{/*  <a class="button" href="{{.RelPermalink}}">{{ $.Site.Params.ReadMore }} Read More →</a>  */}}
        
      </div>

      


    </article>
    {{ end }}

    {{ partial "pagination.html" . }}
  </div>
{{ end }}
