:root {
  --max-width: 1500px;

  --primary: #FF5C00;
  --secondary: #0C0F16;
  --tertiary: #F8DFC8;

  --fs-h1:7.993rem;
  --fs-h2:5.653rem;
  --fs-h3:3.998rem;
  --fs-h4:2.827rem;
  --fs-h5:1.999rem;
  --fs-h6:1.414rem;
  --fs-p:1rem;
  --fs-small:0.707rem;
  --fs-micro:0.5rem;
}

* {
  margin: 0;
  padding: 0;
}

main{
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}
h4{font-size: var(--fs-h4);}
h5{font-size: var(--fs-h5);}
h6{font-size: var(--fs-h6);}
p{font-size: var(--fs-p);}

body {
  /* disable scroll bar edge and firefox*/
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  background-color: black;
}


body::-webkit-scrollbar {
   /* disable scroll bar chrome*/
  display: none; 
}