.marquee{
    display: flex-end;
    color: var(--secondary);
    margin-left: -10rem;
}

.inner{
    /* animation: marquee 60s linear infinite; */
    list-style: none;
}

.inner li{
    color: #FF8F51;
    font-size: 2rem;
    font-weight: 400;
    white-space: nowrap;
    white-space: pre;
    z-index: 0;
}

@media (max-width: 900px) {
    .marquee{
        display: none;
    }
} 